body {
  font-family: "Open Sans", sans-serif !important;
  background: #FEE2C3;
}

.text-slanted {
  font-family: 'Courgette', cursive;
}

.btnurl {
  background: #99D815 !important;
  border: none;
}
.btndetails {
  background: #FF5D10 !important;
  border: none;
}

.btn:hover {
  transition: all .6s linear;
  opacity: .8; 
  color: #2D3440;
}

.img-card-top:hover {
  cursor: zoom-in;
}

.recipe-list,
.text-search {
  color: #F27B3B;
}